h1{
 text-align: center;
 margin-top: 47px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: normal;
}

#container2{
  margin-top: 70px;
}

#sub-container{ 
 width: 770px;
 height: 80px;
 border-color: black;
 border-width: 1px;
 border-style: solid;
 margin-top: 10px;
 margin-left: 360px;
}

#sub-container2{ 
 width: 770px;
 height: 30px;
 border-color: black;
 border-width: 1px;
 border-style: solid;
 margin-top: 19px;
 margin-left: 360px;
}

.select2{
  margin-top: 1px; 
  margin-bottom: 3px;
  font-size: 13px;  
  color: black;
  padding-left: 20px;
  height: 28px;
  width: 710px;
  font-family: Arial, Helvetica, sans-serif;
}

option{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

.texto{
  margin-top: 5px;  
  margin-left: 14px;  
  font-family: Arial, Helvetica, sans-serif;
}

.descricao{
 margin-left: 360px;  
 width: 765px;
 height: 85px;
 border-width: 1.5px; 
 padding-top: 3px;
}

.botao{
  margin-top: 20px;
  margin-left: 360px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.botao2{
  margin-top: 20px;
  margin-left: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.enviar{
  font-family: Arial, Helvetica, sans-serif;
}